@media all and (max-width : 960px) {
    #wrap {
        display: none;
    }
    #m_wrap{
        width : 100%;
        overflow: hidden;
        position :relative;
        font-family: 'Noto Sans KR', sans-serif;
    }
    /* wrap End */

    /* m_header Start */
    #m_header{
        width : 100%;
        height: 80px;
        position : fixed;
        top : 0;
        left : 0;
        z-index: 99;
        /* background-color: antiquewhite; */
    }
    #m_menu_btn{
        /* width : 50px; */
        width : 5.20833vw;
        /* height: 50px; */
        height: 5.20833vw;
        margin-top : 15px;
        /* margin-left : 15px; */
        margin-left : 1.5625%;
        float : left;
    }
    #m_logo{
        /* width : 270px; */
        width : 28.125%;
        /* height: 50px; */
        height: 5.20833vw;
        float : left;
        margin-top : 15px;
        /* margin-left : 260px; */
        margin-left : 27.083%;
    }
    #m_right_btn{
        /* width : 150px; */
        width : 15.625%;
        /* height: 50px; */
        height: 5.2083vw;
        position : relative;
        float : right;
        margin-right : 15px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top : 15px;
    }
    #m_shop_icon{
        /* width : 30px; */
        width : 5.20833vw;
        /* height: 30px; */
        height: 5.20833vw;
    }
    #m_login_icon{
        /* width : 30px; */
        width : 5.20833vw;
        /* height: 30px; */
        height: 5.20833vw;
    }
    /* m_header End */
    #m_section{
        width : 100%;
        overflow: hidden;
        position : relative;
    }

    #m_arti_1{
        /* height: 969px; */
        height: 99.0712vw;
        position :relative;
    }
    #m_arti_1_text{
        position : absolute;
        color : white;
        /* bottom : 180px; */
        bottom : 18.75vw;
        /* right : 70px; */
        right : 7.29166%;
        font-size : 25px;
        font-weight: 600;
    }
    /* m_arti_1 End */

    #m_arti_2{
        /* height: 355px; */
        height: 36.979166vw;
        position : relative;
    }
    #m_arti_2_text_wrap{
        /* width : 380px; */
        width : 39.5833%;
        /* height: 150px; */
        height: 15.625vw;
        /* background-color: beige; */
        position : absolute;
        /* top : 150px; */
        top : 15.625vw;
        /* right : 20px; */
        right : 2.0833%;
        padding : 10px;
    }
    #m_arti_2_title{
        /* font-size : 21px; */
        font-size : 2.1875vw;
        font-weight: 600;
    }
    #m_arti_2_sub_title{
        margin-top : 5px;
        /* font-size : 22px; */
        font-size : 2.29166vw;
        font-weight: 500;
    }
    #m_arti_2_content{
        margin-top : 5px;
        /* font-weight: 16px; */
        font-size : 1.66vw;
    }
    #m_arti_2_more{
        /* width : 150px; */
        width : 15.625vw;
        /* height: 30px; */
        height: 3.125vw;
        border : 2px solid black;
        text-align: center;
        /* line-height: 30px; */
        line-height: 3.125vw;
        position : absolute;
        /* bottom : 15px; */
        bottom : 1.5625vw;
        /* right : 15px; */
        right : 1.5625vw;
        /* font-size : 16px; */
        font-size : 1.66vw;
    }
    /* m_arti_2 End */

    /* m_arti_3 Start */
    #m_arti_3{
        /* height: 684px; */
        height: 71.25vw;
        position : relative;
        /* background-color: red; */
    }
    #m_arti_3_title{
        /* width : 400px; */
        width : 41.666vw;
        /* height: 50px; */
        height: 5.20833vw;
        /* background-color: bisque; */
        /* font-size : 30px; */
        font-size : 3.125vw;
        text-align: center;
        margin : 0 auto;
        position : relative;
        /* top : 50px; */
        top : 5.20833vw;
    }
    #m_arti_3_box{
        /* width : 761px; */
        width : 79.27083vw;
        /* height: 454px; */
        height: 47.29166vw;
        /* margin : 50px auto; */
        margin : 5.20833vw auto;
        position : relative;
        background-color: black;
        /* top : 50px; */
        top : 5.208333vw;
    }
    #m_arti_3_left{
        /* width : 380px; */
        width : 39.5833vw;
        /* height: 454px; */
        height: 47.2916vw;
        float : left;
    }
    #m_arti_3_right{
        /* width : 380px; */
        width : 39.5833vw;
        /* height: 454px; */
        height: 47.2916vw;
        float : right;
    }
    #m_arti_3_right_top{
        /* width : 380px; */
        width : 38.5833vw;
        /* height: 146px; */
        height : 15.20833v;
        position :relative;
        display: flex;
        flex-direction: row;
    }
    .m_arti_3_top{
        /* width : 126px; */
        width : 13.125vw;
        /* height: 146px; */
        height: 15.20833vw;
        float : left;
    }
    #m_arti_3_right_bot{
        /* width : 380px; */
        width : 39.5833vw;
        /* height: 308px; */
        height: 32.0833vw;
    }
    /* m_arti_3 End */

    /* m_arti_4 Start */
    #m_arti_4{
        overflow: hidden;
        /* background-color: lightsalmon; */
    }
    .m_arti_4_5_main_img{
        /* width : 760px; */
        width : 79.166vw;
        /* height: 855px; */
        height: 89.0625vw;
        margin : 0 auto;
        position : relative;
    }
    .m_arti_4_5_text_wrap{
        /* width : 260px; */
        width : 28.0833vw;
        /* height: 100px; */
        height: 10.4166vw;
        /* background-color: beige; */
        position : absolute;
        /* right : 8px; */
        right : 0.833vw;
        /* top : 150px; */
        top : 15.625vw;
    }
    .m_arti_4_5_title{
        /* font-size : 30px; */
        font-size : 3.125vw;
        font-weight: 900;
    }
    .m_arti_4_5_content{
        /* font-size : 16px; */
        font-size : 1.66vw;
        font-weight: 600;
    }

    .lip_container{
        margin-top : 30px;
        /* height: 450px; */
        height: 46.875vw;
    }
    .lip_wrapper{
        /* width : 1660px; */
        width: 172.91666vw;
        /* height: 450px; */
        height: 46.875vw;
    }
    .lip_slide{
        float : left;
        /* width : 308px; */
        width :32.083vw;
        /* height: 408px; */
        height: 42.5vw;
        background-color: black;
        text-align: center;
        font-weight: 500;
        /* font-size : 15px; */
        font-size : 1.5625vw;
    }
    /* m_arti_4 End */
    #m_arti_5{
        overflow: hidden;
        /* margin-top : 100px; */
        margin-top : 10.4166vw;
    }
    #perfume_text_wrap{
        position : absolute;
        /* top : 50px; */
        top : 5.20833vw;
        /* left : 20px; */
        left : 2.0833vw;
        /* width : 300px; */
        width : 31.25vw;
        color : white;
    }
    #perfume_title{
        /* margin-bottom : 10px; */
        margin-bottom : 1.0416vw;
    }
    .perfume_container{
        /* margin-top : 30px; */
        margin-top : 3.125vw;
        /* height: 480px; */
        height: 50vw;
    }
    .perfume_wrapper{
        /* width : 2028px; */
        width : 211.25vw;
        /* height: 450px; */
        height: 46.875vw;
    }
    .perfume_slide{
        float : left;
        /* width : 308px; */
        width : 32.0833vw;
        /* height: 408px; */
        height: 42.5vw;
        background-color: black;
        text-align: center;
        font-weight: 500;
        /* font-size : 13px; */
        font-size : 1.4583vw;
    }
    /* m_arti_5 End */

    /* m_arti_6 Start */
    #m_arti_6{
        overflow: hidden;
        position : relative;
        /* margin-top : 50px; */
        margin-top : 5.2083vw;
    }
    #m_arti_6_title{
        /* width : 300px; */
        width : 31.25vw;
        /* height: 60px; */
        height: 6.25vw;;
        /* background-color: burlywood; */
        /* font-size : 35px; */
        font-size : 3.645833vw;
        position : relative;
        margin : 0 auto;
        text-align: center;
        /* line-height: 60px; */
        line-height: 6.25vw;
        font-weight: 900;
    }

    .sns_container{
        /* width : 635px; */
        width : 66.145833vw;
        /* height: 846px; */
        height: 88.125vw;;
        /* margin-top : 50px; */
        margin-top : 5.20833vw;
        overflow: hidden;
        margin : 0 auto;
    }
    .sns_wrapper{
        /* width : 2636px; */
        width : 274.5833vw;
        /* height: 846px; */
        height: 88.125vw;
    }
    .sns_slide{
        /* width : 635px; */
        width : 66.1458333vw;
        /* height: 846px; */
        height: 88.125vw;
        float : left;
    }
    /* m_arti_6 End */

    /* m_footer Start */
    #m_footer{
        width : 100%;
        overflow: hidden;
        background-color: black;
        color : #7c7c7c;
        /* margin-top : 100px; */
        margin-top : 10.4166vw;
        /* font-size : 13px; */
        font-size : 1.35416vw;
    }
    #m_footer a{
        color : #7c7c7c;
    }
    #m_footer_top{
        width : 100%;
        /* height: 50px; */
        height: 5.20833vw;
        float : left;
        /* background-color: red; */
        position :relative;
        /* margin-top : 10px; */
        margin-top : 1.041666vw;
    }
    #m_footer_logo{
        /* width : 206px; */
        width : 21.45833vw;
        /* height: 37px; */
        height: 3.854166vw;
        /* margin-left : 50px; */
        margin-left : 5.20833vw;
    }
    #m_footer_sns_wrap{
        float : right;        
        /* width : 200px; */
        width : 20.833vw;
        /* height: 50px; */
        height: 5.20833vw;
        /* background-color: brown; */
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        /* margin-right : 50px; */
        margin-right : 5.2083vw;
        position : relative;
        /* top : -37px; */
        top : -3.854166vw;
    }
    #m_footer_sns_wrap li{
        /* width : 34px; */
        width : 3.54166vw;
        /* height: 34px; */
        height: 3.54166vw;
        float : left;
    }
    #m_footer_bot{
        /* margin-left : 50px; */
        margin-left : 5.20833vw;
        width : 100%;
        /* background-color: brown; */
    }
    #m_footer_bot_menu{
        /* width : 400px; */
        width : 41.66vw;
        /* height: 30px; */
        height: 3.125vw;;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        /* margin-bottom : 10px; */
        margin-bottom : 1.0416vw;
    }
    #m_footer_bot_info{
        /* width : 680px; */
        width : 70.7083vw;
        /* height: 30px; */
        height: 3.125vw;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        /* font-size : 14px; */
        font-size : 1.4583vw;
        /* margin-bottom : 10px; */
        margin-bottom : 1.0416vw;
    }
    #m_footer_bot_add{
        /* width : 830px; */
        width: 86.4583vw;
        /* height: 30px; */
        height: 3.125vw;;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: left;
        /* margin-bottom : 30px; */
        margin-bottom : 3.125vw;
    }
    #copyright{
        /* width : 850px; */
        width : 88.54166vw;
        /* height: 30px; */
        height: 3.125vw;
        /* margin-top : 10px; */
        margin-top : 1.04166vw;
    }
}
/* media Query End */